<% content_for :title, "#{@user.display_name}'s Trips" %>
<h1><%= @user.display_name %>'s Trips</h1>

<% if @show_controls %>
  <%= link_to t('actions.add_trip'), new_trip_path, class: 'btn btn-success' %>
<% end %>

<div class="trip-list">
  <% @trips.each do |trip| %>
    <div class="trip">
      <h2 class="trip-name" data-click-url="<%= trip_path(trip) %>"><%= trip.name %> <span class="dates"><%= format_date trip.begin_date %> - <%= format_date trip.end_date %></span></h2>
      <%= render partial: "shared/flights_tiny", locals: { flights: trip.flights } %>
    </div>
  <% end %>
</div>

<%= link_to 'New Trip', new_trip_path %>
