<% content_for :title, @trip.name %>

<script type="text/javascript">
  window.routes = <%= @stats[:routes].to_json.html_safe %>;
  window.airports = <%= @stats[:airports].to_json.html_safe %>;
</script>

<h1 class="trip-name"><%= @trip.name %> <span class="dates"><%= format_date @trip.begin_date %> - <%= format_date @trip.end_date %></span></h1>

<%= render partial: "shared/stat_boxes", locals: { stats: @stats[:totals] } %>

<div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
    <div id="map-canvas" class="routes-map"></div>
  </div>
</div>

<div class="trip-flights">
  <%= render partial: "shared/flights_slim", locals: { flights: @trip.flights } %>
</div>

<% if @show_controls %>
  <div class="flight-buttons">
    <%= link_to t('actions.add_flight'), new_flight_path('flight[trip_id]' => @trip.id), class: 'btn btn-success' %>
  </div>
<% end %>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
