- content_for :title, @trip.name

:javascript
  window.routes = #{@stats[:routes].to_json.html_safe}:
  window.airports = #{@stats[:airports].to_json.html_safe};

%ol.breadcrumb
  %li= link_to @user.display_name, map_path
  %li= link_to "Trips", trips_path
  %li= @trip.name

%div.h1.trip-name
  = @trip.name
  %div.dates
    #{format_date @trip.begin_date} - #{format_date @trip.end_date}

%div.row.stats.vertical
  %div.col-xs-12.col-md-4
    = render partial: "shared/stat_boxes", locals: { stats: @stats[:totals] }
  %div.col-xs-12.col-md-8
    %div#map-canvas.routes-map

%div.trip-flights
  = render partial: "shared/flights_slim", locals: { flights: @trip.flights }

- if @show_controls
  %div.flight-buttons
    = link_to t('actions.add_flight'), new_flight_path('flight[trip_id]' => @trip.id), class: 'btn btn-success'
    = link_to 'Edit Trip Details', edit_trip_path(@trip), class: 'btn btn-primary'
