- content_for :title, t('actions.my_profile')

= render partial: 'shared/profile_strip', object: @user, as: 'user'

%div.row
  %div.col-md-6.col-md-offset-3.col-sm-8.col-sm-offset-2
    %div.panel.panel-default
      %div.panel-heading
        %div.panel-title Your profile
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = error_messages
        %div.panel-body
          %div.form-group
            %div.input-group
              %span.input-group-addon
                %i.fa.fa-envelope
              = f.text_field :email, placeholder: "Email address", class: "form-control", autofocus: true, required: true
          %div.form-group
            %div.input-group
              %span.input-group-addon
                %i.fa.fa-user
              = f.text_field :username, placeholder: "Username/nickname", class: "form-control"
            %span.help-block Changing your username will change the URLs linking to your data

        - if devise_mapping.omniauthable?
          - resource_class.omniauth_providers.each do |provider|
            - unless @user.oauth_provider_connected?(provider)
              %div.panel-body
                = social_login_button(provider, 'actions.connect_with')

        - if @user.password_changeable?
          %div.panel-body
            %div.form-group
              %div.input-group
                %span.input-group-addon
                  %i.fa.fa-lock
                = f.password_field :password, placeholder: "Password", class: "form-control"
            %div.form-group
              %div.input-group
                %span.input-group-addon
                  %i.fa.fa-lock
                = f.password_field :password_confirmation, placeholder: "Password Confirmation", class: "form-control"
            %div.form-group
              %div.input-group
                %span.input-group-addon
                  %i.fa.fa-lock
                = f.password_field :current_password, placeholder: "Current Password", class: "form-control"

        %div.panel-body
          %div.form-group{style: "margin-top:10px"}
            = f.submit "Update", class: "btn btn-success"
