<h1>Flight: <%= @flight.depart_airport %>-<%= @flight.arrive_airport %> &mdash; <%= l @flight.depart_date, format: :long %> </h1>

<%= render 'form' %>

<%= link_to 'Show', @flight %> | <%= link_to 'Back', flights_path %>
