<h1><%= @flight.depart_airport %> &#x2708; <%= @flight.arrive_airport %> &mdash; <%= l @flight.depart_date, format: :long %> </h1>

<%= render 'form' %>

<%= link_to 'Show', @flight %> | <%= link_to 'Back', user_flights_path %>
