<% if @show_controls %>
  <div class="flight-buttons">
    <%= link_to t('actions.add_flight'), new_flight_path, class: 'btn btn-success' %>
    <%= link_to t('actions.import_flights'), import_root_path, class: 'btn btn-default' %>
    <%= link_to t('actions.batch_update'), flightlist_path(style: 'slim', batch_editing: 1), class: 'btn btn-default' %>
  </div>
<% end %>

<% if @batch_editing %>
<script type="text/javascript">
  window.trips = <%= @trips.to_json.html_safe %>;
</script>
  <form accept-charset="UTF-8" action="<%= flight_batch_update_path %>" method="post" novalidate="novalidate">
    <input name="_method" type="hidden" value="patch" />
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
    <input name="records_to_update" type="hidden" value="" />
    <div class="batch-editor collapse">
      <div class="title">Update <span class="count"></span> flights</div>
      <div>
        <select name="field_to_update">
          <option>Field to update</option>
          <option value="trip">Trip</option>
          <option value="airline">Airline</option>
          <option value="aircraft">Aircraft</option>
          <option value="seat_class">Seat Class</option>
        </select>
        <div id="batch-update-value">
          <div id="flight_trip_id_container">
            <input class="string optional form-control" id="flight_trip_id" name="flight[trip_id]" type="text" />
          </div>
        </div>
      </div>
      <div class="form-actions">
        <input class="btn btn-default" name="commit" type="submit" value="Update" />
      </div>
    </div>
  </form>
<% end %>

<%= render partial: "shared/flights_#{@list_style}", locals: { flights: @flights } %>
