%div.tiny-flights
  - flights.each do |f|
    %div.flight{:'data-click-url' => flight_path(f)}
      %div.from_to #{f.depart_airport} &#x2708; #{f.arrive_airport}
      %div.row1
        %div.airline_logo= image_tag f.airline.logo.url(:medium) if f.airline
        %div.flight_code_and_date
          %div.flight_code #{f.airline_code} #{f.flight_number}
          %div.depart_date= l f.depart_date, format: :medium
      %div.row2
        %div.times
          #{format_time(f.depart_time)} - #{format_time(f.arrive_time)}
          %span.arrival_offset= f.arrive_time_offset
        %div.misc_description.truncate
          #{f.seat_class} on #{f.airline_name}
