%div.row.profile-strip
  %div.image
    = link_to profile_path(user) do
      = image_tag user.image(:small)
  %div.name
    %h3
      = link_to profile_path(user) do
        = user.name
        %small= user.username
    - if user.last_flight && user.last_flight.arrive_airport_info
      %div.near
        %span
          = flag_image user.last_flight.arrive_airport_info.country, 16
          = user.last_flight.arrive_airport_info.to_s("%{description}")
  %div.links
    %ul.nav.nav-pills
      =auto_active_nav_link t("words.map"), map_path(user)
      =auto_active_nav_link t("words.trips"), trips_path(user)
      =auto_active_nav_link t("words.flights"), flights_path(user)
