<div class="big-stats flex vertical">
  <div class="big-stat flights">
    <div class="number"><%= stats[:flights] %></div>
    <div class="descriptor"><div><%= t '.flights' %></div></div>
  </div>
  <div class="big-stat airports">
    <div class="number"><%= stats[:airports] %></div>
    <div class="descriptor"><div><%= t '.airports' %></div></div>
  </div>
  <div class="big-stat countries">
    <div class="number"><%= stats[:countries] %></div>
    <div class="descriptor"><div><%= t '.countries' %></div></div>
  </div>
  <div class="big-stat airlines">
    <div class="number"><%= stats[:airlines] %></div>
    <div class="descriptor"><div><%= t '.airlines' %></div></div>
  </div>
  <div class="big-stat distance">
    <div class="number"><%= format_distance stats[:distance] %></div>
    <div class="descriptor"><div><%= t '.distance' %></div></div>
  </div>
  <div class="big-stat duration">
    <div class="number"><%= format_duration stats[:duration] %></div>
    <div class="descriptor"><div><%= t '.duration' %></div></div>
  </div>
</div>
