- content_for :title, "#{@airport.iata_code} #{@airport.name}"

:javascript
  var airport = #{@airport.to_json.html_safe};

%div.row
  %div.col-sm-8
    %h1= "#{@airport.name} - #{@airport.city}, #{@airport.country}"
  %div.col-sm-4
    %div.airport-badge
      = flag_image @airport.country
      %span.code= @airport.iata_code
%div.row
  %div.col-sm-6
    %div#map-canvas.airport-location-map
%p
  %strong Local time:
  = l @airport.current_time, :format => :short

- if user_signed_in? && current_user.admin?
  %div.btn-group
    = link_to 'Edit', edit_airport_path(@airport), class: 'btn btn-primary'
    = link_to 'Reload from GCMap', update_airport_from_external_path(@airport), class: 'btn btn-danger',
      title: "Re-scrapes the airport data from GCMap and overwrites current data"

= render partial: "shared/audits", object: @airport.audits, locals: { collapsed: true }
