<% content_for :title, "#{@airport.iata_code} #{@airport.name}" %>

<style type="text/css">
  #map-canvas { width: 100%; height: 500px; }
  /* Fix bootstrap interference */
  #map-canvas img { max-width: none; }
</style>
<script type="text/javascript">
  var airport = <%= @airport.to_json.html_safe %>;
</script>

<div class="row">
  <div class="col-sm-8">
    <h1><%= "#{@airport.name} - #{@airport.city}, #{@airport.country}" %></h1>
  </div>
  <div class="col-sm-4">
    <div class="airport-badge">
      <%= flag_img @airport.country, "64" %>
      <span class="code"><%= @airport.iata_code%></span>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div id="map-canvas" class="airport-location-map"></div>
  </div>
</div>

<p>
  <strong>Local time:</strong>
  <%= l @airport.current_time, :format => :short %>
</p>

<div class="audits-container">
  <div class="show-audits-button-container">
    <button type="button" class="btn btn-default" data-toggle="collapse" data-target="#audits" aria-expanded="false" aria-controls="audits">Show Changelog</button>
  </div>
  <div id="audits" class="collapse">
    <%= render partial: "shared/audits", object: @airport.audits %>
  </div>
</div>

<%= link_to 'Edit', edit_airport_path(@airport) %> |
<%= link_to 'Back', airports_path %>
