- content_for :title, "#{@airline.iata_code} #{@airline.name}"

%div.row
  %div.col-sm-8
    %h1
      = image_tag @airline.logo.url(:medium)
      %span= @airline.name
      = image_tag("alliances/medium/#{@airline.alliance}.png") if @airline.in_alliance?
  %div.col-sm-4
    %div.airline-badge
      = flag_image @airline.country, "64"
      %span.code= @airline.iata_code

= render partial: "shared/audits", object: @airport.audits, locals: { collapsed: true }
