- content_for :title, "#{@airline.iata_code} #{@airline.name}"

%div.row.airline-detail
  %div.col-sm-8
    %h1
      = airline_logo @airline
      %span= @airline.name
      = alliance_logo @airline.alliance
  %div.col-sm-4
    %div.airline-badge
      = flag_image @airline.country
      %span.code= @airline.iata_code

- if user_signed_in? && current_user.admin?
  %div.btn-group
    = link_to 'Edit', edit_airline_path(@airline), class: 'btn btn-primary'

= render partial: "shared/audits", object: @airline.audits, locals: { collapsed: true }
